$image: '../img/m-h-night.jpg';
$font-style: 'Fresca';
$m1: 150px;
$m2: 0px;
$m3: -60px;
$c-color: #3b3f50;
$text-color: white;
$word-b: #ff4e33;
$button-b: #e3aa00;
$background-col: #21232e;
$gradient1: #e0a703;
$gradient2: #97344e;


