$image: '../img/m-h-day.jpg';
$font-style: 'Hind';
$m1: 150px;
$m2: -10px;
$m3: -70px;
$c-color: #21232e;
$text-color: #2c2f3c;
$word-b: #14a0c7;
$button-b: #699900;
$background-col: white;
$gradient1: #66960a;
$gradient2: #2d5bd8;